.root {
    -fx-background-color: #f6f6f6;
    -fx-font-family: "Times New Roman";
}

.white-panel {
    -fx-background-color: #ffffff;
    -fx-padding: 40;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 4);
}

.header-text {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
}