/*-- Default --*/

    /*-- General --*/
        .root {
            -fx-background-color: #f6f6f6;
            -fx-font-family: "Inter Medium";
            -fx-font-size: 14px;
        }

    /*-- Check Box  --*/
        .check-box .box {
            -fx-background-color: #ffffff;
            -fx-border-color: #d9d9d9;
            -fx-background-radius: 5;
            -fx-border-radius: 5;
            -fx-padding: 2;
        }

    /*-- Text Field --*/
        .text-field {
            -fx-font-size: 12px;
            -fx-background-color: #ffffff;
            -fx-border-color: #d9d9d9;
            -fx-background-radius: 5;
            -fx-border-radius: 5;
            -fx-pref-height: 44px;
            -fx-padding: 10 14 10 14;
        }
        .text-field:focused {
            -fx-border-color: #6a6ce9;
        }
        .password-field {
            -fx-font-size: 12px;
        }

.white-panel {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-padding: 35 30 35 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
}

/*-- Button Utility --*/


    /*-- Text Button --*/
        .text-button {
            -fx-background-color: transparent;
            -fx-font-family: "Inter SemiBold";
            -fx-padding: 0;
            -fx-cursor: hand;
        }
        .text-button:hover {
            -fx-underline: true;
        }

    /*-- Block Button --*/
        .block-button {
            -fx-font-family: "Inter Bold";
            -fx-text-fill: #ffffff;
            -fx-padding: 12 0;
            -fx-background-radius: 5;
            -fx-cursor: hand;
        }


/*-- Size --*/
.header-size {
    -fx-font-size: 28;
    -fx-font-family: "Inter ExtraBold";
}

/*-- Color --*/

.gray-text {
    -fx-text-fill: #687488;
}

    /*-- Purple --*/
        .purple-text {
            -fx-text-fill: #6a6ce9;
        }
        .purple-text:hover {
            -fx-text-fill: #4345e6;
        }
        .purple-text:pressed {
            -fx-text-fill: #0002ff;
        }
        .purple_background {
            -fx-background-color: #6a6ce9;
        }
        .purple_background:hover {
                -fx-background-color: #5d5fcf;
        }
        .purple_background:pressed {
            -fx-background-color: #4a4dcf;
        }


.black-text {
    -fx-text-fill: #212839;
}
