/*-- Effects --*/

    /*-- Primary --*/
    .primary-text {
        -fx-text-fill: -primary-500;
    }
    .primary-text:hover {
        -fx-text-fill: -primary-75;
    }
    .primary-text:pressed {
        -fx-text-fill: -primary-600;
    }
    .primary-bg {
        -fx-background-color: -primary-500;
    }
    .primary-bg:hover {
            -fx-background-color: -primary-90;
    }
    .primary-bg:pressed {
        -fx-background-color: -primary-600;
    }
