/*-- Effects --*/

    /*-- Primary Text Button --*/
    .primary-text-button {
        -fx-text-fill: -primary-500;
    }
    .primary-text-button:hover {
        -fx-text-fill: -primary-75;
    }
    .primary-text-button:pressed {
        -fx-text-fill: -primary-600;
    }

    /*-- Primary Block Button --*/
    .primary-block-button {
        -fx-background-color: -primary-500;
        -fx-text-fill: -shade-0;
    }
    .primary-block-button:hover {
        -fx-background-color: -primary-90;
    }
    .primary-block-button:pressed {
        -fx-background-color: -primary-600;
    }

    /*-- White Block and Toggle Button --*/
    .white-block-button {
        -fx-text-fill: -shade-800;
        -fx-background-color: -shade-0;
    }
    .white-block-button:hover{
        -fx-background-color: -primary-25;
    }
    .white-block-button:pressed {
        -fx-background-color: -primary-500;
        -fx-text-fill: -shade-0;
    }
    .white-block-button:pressed .primary-icon {
        -fx-fill: -shade-0;
    }
    .white-block-button:selected {
        -fx-background-color: -primary-500;
        -fx-text-fill: -shade-0;
    }
    .white-block-button:selected .primary-icon {
        -fx-fill: -shade-0;
    }

    /*-- White Block and Toggle Button --*/
    .icon-text-button:hover .shade-icon {
        -fx-fill: -shade-75;
    }
    .icon-text-button:pressed .shade-icon {
        -fx-fill: -shade-800;
    }

    .icon-text-button:hover .primary-icon {
        -fx-fill: -primary-75;
    }
    .icon-text-button:pressed .primary-icon {
        -fx-fill: -primary-700;
    }