/*-- Effects --*/

    /*-- Primary --*/
    .primary-text {
        -fx-text-fill: -primary-500;
    }
    .primary-text:hover {
        -fx-text-fill: -primary-75;
    }
    .primary-text:pressed {
        -fx-text-fill: -primary-600;
    }
    .primary-bg {
        -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
        -fx-background-color: -primary-500;
        -fx-text-fill: -shade-0;
    }
    .primary-bg:hover {
        -fx-background-color: -primary-90;
    }
    .primary-bg:pressed {
        -fx-background-color: -primary-600;
    }



/*-- White Block and Toggle Button --*/
    .white-block-button {
        -fx-text-fill: -shade-800;
        -fx-background-color: -shade-0;
    }
    .white-block-button:hover{
        -fx-background-color: -primary-25;
    }
    .white-block-button:pressed {
        -fx-background-color: -primary-500;
        -fx-text-fill: -shade-0;
    }
    .white-block-button:pressed .primary-icon {
        -fx-fill: -shade-0;
    }
    .white-block-button:selected {
        -fx-background-color: -primary-500;
        -fx-text-fill: -shade-0;
    }
    .white-block-button:selected .primary-icon {
        -fx-fill: -shade-0;
    }