/*-- Effects --*/

    /*-- Primary --*/
    .primary-text {
        -fx-text-fill: -primary-500;
    }
    .primary-text:hover {
        -fx-text-fill: -primary-75;
    }
    .primary-text:pressed {
        -fx-text-fill: -primary-600;
    }
    .primary-bg {
        -fx-background-color: -primary-500;
        -fx-text-fill: -shade-0;
    }
    .primary-bg:hover {
        -fx-background-color: -primary-90;
    }
    .primary-bg:pressed {
        -fx-background-color: -primary-600;
    }

    /*-- Shade --*/
    .shade-bg {
        -fx-background-color: -shade-0;
        -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
    }
    .shade-bg: hover {
        -fx-background-color: -primary-500;
        -fx-text-fill: -shade-0;
    }
    .shade-bg: pressed {
            -fx-background-color: -primary-600;
            -fx-text-fill: -shade-0;
        }