.swatch-card {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0, 0, 4);
    -fx-pref-width: 40;
}

.swatch-color {
    -fx-pref-height: 50;
    -fx-background-radius: 5 5 0 0;
}

.swatch-footer {
    -fx-background-color: white;
    -fx-padding: 8 0 8 10;
    -fx-alignment: left;
    -fx-background-radius: 0 0 12 12;
}

.swatch-label {
    -fx-font-size: 12px;
    -fx-text-fill: #687488;
}
