@import "button-effects.css";
@import "color.css";

/*-- General --*/
    .root {
        -fx-background-color: -shade-5;
        -fx-font-family: "Inter Medium";
        -fx-font-size: 14px;

        /*-- #EAB263: Dirty Pastel Orange --*/
        -primary-500: #EAB263;

        /*-- Lighter Shades --*/
        -primary-90:  derive(-primary-500, 10%);
        -primary-75:  derive(-primary-500, 25%);
        -primary-50:  derive(-primary-500, 50%);
        -primary-25:  derive(-primary-500, 75%);
        -primary-15:  derive(-primary-500, 85%);
        -primary-5:   derive(-primary-500, 95%);

        /*-- Darker Shades --*/
        -primary-600: derive(-primary-500, -10%);
        -primary-700: derive(-primary-500, -25%);
        -primary-800: derive(-primary-500, -50%);
        -primary-900: derive(-primary-500, -70%);

        /*-- #EAB263: Dirty Pastel Blue --*/
        -secondary-500: #6F6FC8;

        /*-- Lighter Shades --*/
        -secondary-90:  derive(-secondary-500, 10%);
        -secondary-75:  derive(-secondary-500, 25%);
        -secondary-50:  derive(-secondary-500, 50%);
        -secondary-25:  derive(-secondary-500, 75%);
        -secondary-15:  derive(-secondary-500, 85%);
        -secondary-5:   derive(-secondary-500, 95%);

        /*-- Darker Shades --*/
        -secondary-600: derive(-secondary-500, -10%);
        -secondary-700: derive(-secondary-500, -25%);
        -secondary-800: derive(-secondary-500, -50%);
        -secondary-900: derive(-secondary-500, -70%);

        /*-- Shade Color --*/
        -shade-500: #94A1B5;

        /*-- Lighter Shades --*/
        -shade-90:   derive(-shade-500, 10%);
        -shade-75:   derive(-shade-500, 25%);
        -shade-50:   derive(-shade-500, 50%);
        -shade-25:   derive(-shade-500, 75%);
        -shade-15:   derive(-shade-500, 85%);
        -shade-5:    derive(-shade-500, 95%);
        -shade-0:    derive(-shade-500, 100%);

        /*-- Darker Shades --*/
        -shade-1000: derive(-shade-500, -100%);
        -shade-900:  derive(-shade-500, -70%);
        -shade-600:  derive(-shade-500, -10%);
        -shade-700:  derive(-shade-500, -25%);
        -shade-800:  derive(-shade-500, -50%);
    }


/*-- Default --*/

    /*-- Panel  --*/
        .white-panel {
            -fx-background-color: -shade-0;
            -fx-background-radius: 10;
            -fx-padding: 35 30 35 30;
            -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
        }

    /*-- Check Box  --*/
        .check-box .box {
            -fx-background-color: -shade-0;
            -fx-border-color: -shade-25;
            -fx-background-radius: 5;
            -fx-border-radius: 5;
            -fx-padding: 2;
        }
        .check-box:selected .mark {
            -fx-background-color: -shade-800; /* white check */
        }


    /*-- Text Field --*/
        .text-field {
            -fx-text-fill: -shade-800;
            -fx-prompt-text-fill: -shade-50;
            -fx-background-color: -shade-0;
            -fx-border-color: -shade-25;
            -fx-background-radius: 5;
            -fx-border-radius: 5;
            -fx-pref-height: 44px;
            -fx-padding: 15 14 15 14;
        }
        .text-field:focused {
            -fx-border-color: -primary-500;
        }


/*-- Button Utility --*/

    /*-- Text Button --*/
        .text-button {
            -fx-background-color: transparent;
            -fx-font-family: "Inter SemiBold";
            -fx-padding: 0;
            -fx-cursor: hand;
        }
        .text-button:hover {
            -fx-underline: true;
        }

    /*-- Block Button --*/
        .block-button {
            -fx-font-family: "Inter Bold";
            -fx-text-fill: -shade-0;
            -fx-padding: 12 0;
            -fx-background-radius: 5;
            -fx-cursor: hand;
        }


/*-- Size --*/
.header-size {
    -fx-font-size: 28;
    -fx-font-family: "Inter ExtraBold";
}

/*-- Color --*/

.gray-text {
    -fx-text-fill: -shade-600;
}

.black-text {
    -fx-text-fill: -shade-900;
}
