@import "button-effects.css";
@import "color.css";
@import "ui-general.css";
@import "ui-utility.css";
@import "ui-sidebar.css";
@import "ui-icon.css";

/*-- Panel  --*/
.white-panel {
    -fx-background-color: -shade-0;
    -fx-background-radius: 10;
    -fx-padding: 35 30 35 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
}

/*-- Content Host --*/
.content-host {
    -fx-padding: 60 60 0 60;
}

.content-page {
    -fx-background-color: -shade-0;
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 20 60 0 60;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
}

/*-- Size --*/
.header-size {
    -fx-font-size: 28;
    -fx-font-family: "Inter ExtraBold";
}

.subheader-size {
    -fx-font-size: 12;
    -fx-font-family: "Inter ExtraBold";
}

/*-- Color --*/

.gray-text {
    -fx-text-fill: -shade-600;
}

.black-text {
    -fx-text-fill: -shade-900;
}
