@import "button-effects.css";
@import "color.css";

/*-- General --*/
    .root {
        -fx-background-color: -shade-5;
        -fx-font-family: "Inter Medium";
        -fx-font-size: 14px;

        /*-- #EAB263: Dirty Pastel Orange --*/
        -primary-500: #EAB263;

        /*-- Lighter Shades --*/
        -primary-90:  derive(-primary-500, 10%);
        -primary-75:  derive(-primary-500, 25%);
        -primary-50:  derive(-primary-500, 50%);
        -primary-25:  derive(-primary-500, 75%);
        -primary-15:  derive(-primary-500, 85%);
        -primary-5:   derive(-primary-500, 95%);

        /*-- Darker Shades --*/
        -primary-600: derive(-primary-500, -10%);
        -primary-700: derive(-primary-500, -25%);
        -primary-800: derive(-primary-500, -50%);
        -primary-900: derive(-primary-500, -70%);

        /*-- #EAB263: Dirty Pastel Blue --*/
        -secondary-500: #6F6FC8;

        /*-- Lighter Shades --*/
        -secondary-90:  derive(-secondary-500, 10%);
        -secondary-75:  derive(-secondary-500, 25%);
        -secondary-50:  derive(-secondary-500, 50%);
        -secondary-25:  derive(-secondary-500, 75%);
        -secondary-15:  derive(-secondary-500, 85%);
        -secondary-5:   derive(-secondary-500, 95%);

        /*-- Darker Shades --*/
        -secondary-600: derive(-secondary-500, -10%);
        -secondary-700: derive(-secondary-500, -25%);
        -secondary-800: derive(-secondary-500, -50%);
        -secondary-900: derive(-secondary-500, -70%);

        /*-- Shade Color --*/
        -shade-500: #94A1B5;

        /*-- Lighter Shades --*/
        -shade-90:   derive(-shade-500, 10%);
        -shade-75:   derive(-shade-500, 25%);
        -shade-50:   derive(-shade-500, 50%);
        -shade-25:   derive(-shade-500, 75%);
        -shade-15:   derive(-shade-500, 85%);
        -shade-5:    derive(-shade-500, 95%);
        -shade-0:    derive(-shade-500, 100%);

        /*-- Darker Shades --*/
        -shade-1000: derive(-shade-500, -100%);
        -shade-900:  derive(-shade-500, -70%);
        -shade-600:  derive(-shade-500, -10%);
        -shade-700:  derive(-shade-500, -25%);
        -shade-800:  derive(-shade-500, -50%);
    }

/*-- Default Data Blocks --*/

    /*-- Panel  --*/
        .white-panel {
            -fx-background-color: -shade-0;
            -fx-background-radius: 10;
            -fx-padding: 35 30 35 30;
            -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
        }

    /*-- Sidebar  --*/
        .top-section {
            -fx-pref-width: 270;
            -fx-padding: 30 25 30 25;

            -fx-background-insets: 0;
            -fx-background-radius: 0;

            -fx-background-color:
                linear-gradient(
                    to bottom,
                    -shade-5 0%,
                    -shade-5 99.4%,
                    rgba(0, 0, 0, 0.001) 100%
                );
        }


        .profile-section {
            -fx-font-family: "Inter SemiBold";
            -fx-pref-width: 270;
            -fx-background-color: -shade-0;
            -fx-padding: 20 25 20 25;
        }

        .bottom-section {
            -fx-pref-width: 270;
            -fx-background-color: -shade-5;
            -fx-padding: 15 25 40 25;

            -fx-background-insets: 0;
            -fx-background-radius: 0;

            -fx-background-color:
                linear-gradient(
                    to top,
                    -shade-5 0%,
                    -shade-5 95%,
                    rgba(0, 0, 0, 0.001) 100%
                );
            }

/*-- Default Data Blocks --*/

    /*-- Text Field --*/
        .text-field {
            -fx-text-fill: -shade-800;
            -fx-prompt-text-fill: -shade-50;
            -fx-background-color: -shade-0;
            -fx-border-color: -shade-25;
            -fx-background-radius: 5;
            -fx-border-radius: 5;
            -fx-padding: 15 14 15 14;
        }
        .text-field:focused {
            -fx-border-color: -primary-500;
        }

    /*-- Check Box  --*/
        .check-box .box {
            -fx-background-color: -shade-0;
            -fx-border-color: -shade-25;
            -fx-background-radius: 5;
            -fx-border-radius: 5;
            -fx-padding: 2;
        }
        .check-box:selected .mark {
            -fx-background-color: -shade-800;
        }

    /*-- Combo Box --*/
        .combo-box {    /* Field Container */
            -fx-background-color: -shade-5;
            -fx-border-color: -shade-25;
            -fx-background-radius: 5;
            -fx-border-radius: 5;
            -fx-padding: 5;
            -fx-font-size: 12;
        }
        .combo-box .list-cell {  /* Container Box Choice */
            -fx-text-fill: -shade-800;
            -fx-background-color: -shade-5;
            -fx-font-family: "Inter Bold";
        }
        .combo-box .arrow {
            -fx-background-color: -shade-800;
        }
        .combo-box-popup > .list-view {     /* Pop Up Container */
            -fx-effect: null;
            -fx-background-color: transparent;
            -fx-border-color: transparent;
        }
        .combo-box-popup .list-cell {       /* Pop Up Container Boxes */
            -fx-effect: null;
            -fx-background-color: -shade-0;
            -fx-border-color: -shade-25;
            -fx-font-family: "Inter Medium";
            -fx-background-insets: 0;
            -fx-background-radius: 0;
            -fx-padding: 10 14;
        }
        .combo-box-popup .list-cell:hover {
            -fx-background-color: -shade-15;
        }
        .combo-box-popup .list-cell:selected {
            -fx-background-color: -shade-5;
        }

/*-- Button Utility --*/

    /*-- Text Button --*/
        .text-button {
            -fx-background-color: transparent;
            -fx-font-family: "Inter SemiBold";
            -fx-padding: 0;
            -fx-cursor: hand;
        }
        .text-button:hover {
            -fx-underline: true;
        }

    /*-- Block Button --*/
        .block-button {
            -fx-font-family: "Inter Bold";
            -fx-padding: 12 0;
            -fx-background-radius: 5;
            -fx-cursor: hand;
        }

    /*-- Sidebar Button --*/
        .sidebar-button {
            -fx-font-family: "Inter Bold";
            -fx-padding: 12 20;
            -fx-graphic-text-gap: 20;
            -fx-background-radius: 5;
            -fx-alignment: CENTER_LEFT;
            -fx-cursor: hand;
        }


/*-- Size --*/
.header-size {
    -fx-font-size: 28;
    -fx-font-family: "Inter ExtraBold";
}

.subheader-size {
    -fx-font-size: 12;
    -fx-font-family: "Inter ExtraBold";
}

/*-- Color --*/

.gray-text {
    -fx-text-fill: -shade-600;
}

.black-text {
    -fx-text-fill: -shade-900;
}

.icon-wrap {
    -fx-min-width: 18;
    -fx-min-height: 18;
    -fx-background-color: -primary-50; /* debug */
    -fx-opacity: 0.6;
}