@import "button-effects.css";
@import "color.css";
@import "ui-general.css";
@import "ui-utility.css";
@import "ui-sidebar.css";

/*-- Panel  --*/
.white-panel {
    -fx-background-color: -shade-0;
    -fx-background-radius: 10;
    -fx-padding: 35 30 35 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
}


.icon-box {
    -fx-min-width: 16;
    -fx-min-height: 16;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
}



/*-- Size --*/
.header-size {
    -fx-font-size: 28;
    -fx-font-family: "Inter ExtraBold";
}

.subheader-size {
    -fx-font-size: 12;
    -fx-font-family: "Inter ExtraBold";
}

/*-- Color --*/

.gray-text {
    -fx-text-fill: -shade-600;
}

.black-text {
    -fx-text-fill: -shade-900;
}

.icon-wrap {
    -fx-min-width: 18;
    -fx-min-height: 18;
    -fx-background-color: -primary-50; /* debug */
    -fx-opacity: 0.6;
}