@import "button-effects.css"
@import "color.css";

/*-- General --*/
    .root {
        -fx-background-color: #f6f6f6;
        -fx-font-family: "Inter Medium";
        -fx-font-size: 14px;

        /*-- Primary Color: Purple --*/
        -primary-500: #6A6CE9;

        /*-- Lighter Shades --*/
        -primary-90:  derive(-primary-500, 10%);
        -primary-75:  derive(-primary-500, 25%);
        -primary-50:  derive(-primary-500, 50%);
        -primary-25:  derive(-primary-500, 75%);
        -primary-15:  derive(-primary-500, 85%);
        -primary-5:   derive(-primary-500, 95%);

        /*-- Darker Shades --*/
        -primary-600: derive(-primary-500, -10%);
        -primary-700: derive(-primary-500, -25%);
        -primary-800: derive(-primary-500, -50%);
        -primary-900: derive(-primary-500, -70%);

        /*-- White Color --*/
        -white-500: #FFFFFF;
    }


/*-- Default --*/
    /*-- Panel  --*/
        .white-panel {
            -fx-background-color: #ffffff;
            -fx-background-radius: 10;
            -fx-padding: 35 30 35 30;
            -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
        }

    /*-- Check Box  --*/
        .check-box .box {
            -fx-background-color: #ffffff;
            -fx-border-color: #d9d9d9;
            -fx-background-radius: 5;
            -fx-border-radius: 5;
            -fx-padding: 2;
        }

    /*-- Text Field --*/
        .text-field {
            -fx-font-size: 12px;
            -fx-background-color: #ffffff;
            -fx-border-color: #d9d9d9;
            -fx-background-radius: 5;
            -fx-border-radius: 5;
            -fx-pref-height: 44px;
            -fx-padding: 10 14 10 14;
        }
        .text-field:focused {
            -fx-border-color: #6a6ce9;
        }
        .password-field {
            -fx-font-size: 12px;
        }


/*-- Button Utility --*/


    /*-- Text Button --*/
        .text-button {
            -fx-background-color: transparent;
            -fx-font-family: "Inter SemiBold";
            -fx-padding: 0;
            -fx-cursor: hand;
        }
        .text-button:hover {
            -fx-underline: true;
        }

    /*-- Block Button --*/
        .block-button {
            -fx-font-family: "Inter Bold";
            -fx-text-fill: #ffffff;
            -fx-padding: 12 0;
            -fx-background-radius: 5;
            -fx-cursor: hand;
        }


/*-- Size --*/
.header-size {
    -fx-font-size: 28;
    -fx-font-family: "Inter ExtraBold";
}

/*-- Color --*/

.label-color {
    -fx-text-fill: #687488;
    -fx-font-size: 10;
}

.gray-text {
    -fx-text-fill: #687488;
}

.black-text {
    -fx-text-fill: #212839;
}
