/*-- Panel  --*/
.white-panel {
    -fx-background-color: -shade-0;
    -fx-background-radius: 10;
    -fx-padding: 35 30 35 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
}

/*-- Content Host --*/
.content-host {
    -fx-padding: 60 60 0 60;
}

.content-page {
    -fx-background-color: -shade-0;
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 25 60 0 60;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0;
}

.table-cell {
    -fx-padding: 12 16;
}




