
/*-- Text Field --*/
    .text-field {
        -fx-text-fill: -shade-800;
        -fx-prompt-text-fill: -shade-50;
        -fx-background-color: -shade-0;
        -fx-border-color: -shade-25;
        -fx-background-radius: 5;
        -fx-border-radius: 5;
        -fx-padding: 15 14 15 14;
    }
    .text-field:focused {
        -fx-border-color: -primary-500;
    }

/*-- Check Box  --*/
    .check-box .box {
        -fx-background-color: -shade-0;
        -fx-border-color: -shade-25;
        -fx-background-radius: 5;
        -fx-border-radius: 5;
        -fx-padding: 2;
    }
    .check-box:selected .mark {
        -fx-background-color: -shade-800;
    }

/*-- Combo Box --*/
    .combo-box {    /* Field Container */
        -fx-background-color: -shade-5;
        -fx-border-color: -shade-25;
        -fx-background-radius: 5;
        -fx-border-radius: 5;
        -fx-padding: 5;
        -fx-font-size: 12;
    }
    .combo-box .list-cell {  /* Container Box Choice */
        -fx-text-fill: -shade-800;
        -fx-background-color: -shade-5;
        -fx-font-family: "Inter Bold";
    }
    .combo-box .arrow {
        -fx-background-color: -shade-800;
    }
    .combo-box-popup > .list-view {     /* Pop Up Container */
        -fx-effect: null;
        -fx-background-color: transparent;
        -fx-border-color: transparent;
    }
    .combo-box-popup .list-cell {       /* Pop Up Container Boxes */
        -fx-effect: null;
        -fx-background-color: -shade-0;
        -fx-border-color: -shade-25;
        -fx-font-family: "Inter Medium";
        -fx-background-insets: 0;
        -fx-background-radius: 0;
        -fx-padding: 10 14;
    }
    .combo-box-popup .list-cell:hover {
        -fx-background-color: -shade-15;
    }
    .combo-box-popup .list-cell:selected {
        -fx-background-color: -shade-5;
    }

/*-- Button --*/
    .button {
        -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
        -fx-font-family: "Inter Bold";
        -fx-padding: 12 20;
        -fx-background-radius: 5;
        -fx-cursor: hand;
    }

/*-- Toggle Button --*/
    .toggle-button {
        -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
        -fx-font-family: "Inter Bold";
        -fx-padding: 12 20;
        -fx-background-radius: 5;
        -fx-alignment: CENTER_LEFT;
        -fx-graphic-text-gap: 20;
        -fx-cursor: hand;
    }

/*-- Custom Button --*/

    /*-- Text Button --*/
    .text-button {
        -fx-background-color: transparent;
        -fx-font-family: "Inter SemiBold";
        -fx-padding: 0;
    }
    .text-button:hover {
        -fx-underline: true;
    }

    /*-- Icon Button --*/
    .icon-button {
        -fx-graphic-text-gap: 20;
        -fx-alignment: CENTER_LEFT;
    }
